*, *::before, *::after {
  box-sizing: border-box;
}

/* Import fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Oswald|Playfair+Display:700,900');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

@media all and (min-width: 481px){
  html {
    font-size: 10px;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 5rem;
  color: #fff;
}

@media all and (min-width: 1024px){
  h1 {
    font-size: 5rem;
    line-height: 7.5rem;
  }
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(252,238,237,1);
}

@media all and (min-width: 1281px){
  h4 {
    font-size: 2rem;
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(41,30,65,1);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}

@media all and (min-width: 481px){
  h2 {
    font-size: 3rem;
  }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  h2::before, h2::after{
    content:' ';
    background: url("/images/home/h2_dec.svg") repeat-x;
    display: inline-block;
    width: 20%;
    height: 3px;
    position: absolute;
    top: 5.5rem;
  }

  h2::before {
    left: 6%;
  }

  h2::after {
    right: 6%;
  }
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.6rem;
  padding-bottom: 2rem;
  color: rgba(41,30,65,1);
}

@media (min-width: 481px) and (max-width: 1280px) {
  p {
    width: 60%;
  }
}

@media (min-width: 1281px) {
  p {
    width: 60%;
  }
}

a {
  text-decoration: none;
  color: rgba(41,30,65,1);
}

/* ------ colors ------ */
/* .pink {
  color: rgba(252,153,158,1);
}

.cream {
  color: rgba(252,238,237,1);
}

.teal_light {
  color: rgba(190,226,226,1);
}

.teal_dark {
  color: rgba(85,135,135,1);
}

.purple_light {
  color: rgba(78,60,97,1);
}

.purple_dark {
  color: rgba(41,30,65,1);
} */

/* ------ header ------ */

header {
  min-height: 100vh;
  /* background: url("../images/home/header_bkg.svg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-image: linear-gradient(#252661 20%, #F49491 65%, #FFDEBD 85%, #FFFCE9 95%);
  background-attachment: fixed;
  position: relative;
}

.splash {
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 481px) and (max-width: 1280px) {
  .splash {
    width: 70%;
  }
}

@media all and (min-width: 1281px) {
  .splash {
    width: 60%;
  }
}

.splash__logo_wrap {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.splash__logo_wrap img {
  width: 15vw;
  max-width: 6rem;
}

.splash__line {
  width: 80%;
  height: 2px;
  background-color: rgba(252,153,158,0.5);
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.splash__menu_wrap {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.splash__menu_wrap h4:hover {
  color: rgba(252,153,158,1);
}

.splash__hello {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.splash__intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.splash__intro h6 {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: rgba(252,238,237,1);
}

.splash__intro p {
  width: 100%;
  margin: 0;
}

.splash__more {
  display: flex;
  justify-content: center;
}

.splash__more img {
  height: 6vh;
  padding-top: 2rem;
  z-index: 998;
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  .splash__intro p {
    padding-top: 5rem;
  }
  .splash__more {
    padding-top: 10rem;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .splash__intro p {
    padding-top: 5rem;
  }
  .splash__more {
    padding-top: 15rem;
  }
}

@media all and (min-width: 1281px) {
  .splash__intro p {
    padding-top: 5rem;
  }
  .splash__more {
    padding-top: 16rem;
  }
}

header .bkg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* ------- nav bar ------- */
@media all and (max-width: 1024px) {
  nav {
    height: 5rem;
    overflow:hidden;
    background-color: rgba(78,60,97,1);
    z-index: 999;
  }

  nav div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    height: 3rem;
    margin: 1rem 0 0 1.6rem;
    display: inline-block;
    float: left;
  }

  /* nav>span {
    width: 80%;
    float: right;
    margin-top:1.5rem;
  } */

  nav h4 {
    float: right;
    padding-right: 6vw;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .move_down {
    margin-top: 5rem;
  }

  .curr-sele>h4 {
    color: rgba(252,153,158,1);
  }

}


@media all and (min-width: 1025px) {
  nav {
    width: 8rem;
    height: 60vh;
    overflow: hidden;
    display: block;
    position: fixed;
    top: 10vh;
    left: 6%;
    z-index: 999;
  }

  .top_hidden {
    display: none;
  }

  .fade-in-left {
	   -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  nav>div {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
  }

  nav img {
    width: 2rem;
    display:none;
  }

  nav h4 {
    font-size: 1.6rem;
    display: none;
  }

  .nav__dot {
   width: 2rem;
   height: 2rem;
   border-radius: 1rem;
   background-color: rgba(252,153,158,1);
   position: relative;
  }

  .nav__dot::after {
    content:' ';
    display: block;
    position: absolute;
    width: 1px;
    height: 16vh;
    top: 2rem;
    left: 1rem;
    border: .5px;
    border-style: dotted;
    border-color: rgba(78,60,97,1);
  }

  .nav__dot:hover {
    background: none;
  }

  .nav__dot:hover img {
   display: block;
   -webkit-animation: fade-in-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .nav__dot:hover h4 {
   display: block;
   font-weight: 600;
   color: rgba(252,153,158,1);
   -webkit-animation: fade-in-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .nav__dot--focus-d {
    background-color: rgba(78,60,97,1);
    -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .nav__dot--focus-l {
    background-color: rgba(85,135,135,1);
    -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }


  @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

}

/* ------ featured section ------ */
.featured__hero {
  max-width: 100vw;
  background-image: linear-gradient(#57467C 0%, #917FB6 20%, #F9BDDD 40%, #FFE9D9 60%, #FFF 90%);
  margin-top: 2rem;
}

.featured__hero .name {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: rgba(243,221,152,1);
  display: block;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.featured__hero .intro {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.2rem;
  color: #fff;
  text-align: center;
  display: block;
  padding-bottom: 1.6rem;
}

.hero-img {
  display: block;
  width: 80%;
  max-width: 40rem;
  margin: 0 auto;
}

.featured__hero img {
  width: 100%;
  margin: 0 auto;
}

.view_casestudy {
  display: block;
  width: 22rem;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  background-color: rgba(252,153,158,1);
}

.view_casestudy:hover {
  background-color: rgba(78,60,97,1);
  color: rgba(252,238,237,1);
}

.featured a:hover {
  color: #fff;
}

.detail__col {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.featured__details {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 2.5rem auto;
  grid-row-gap: 1rem;
  justify-items: center;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .featured__details {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    justify-items: center;
  }
}

@media all and (min-width: 767px) and (max-width: 1024px){
  .featured__details {
    width: 60%;
  }
}

.featured__details img {
  width: 8rem;
}

.featured__details .title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  color: rgba(85,135,135,1);
}

.featured__details ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
  padding-top: 1rem;
}

@media all and (min-width: 1025px) {
  .featured__hero {
    width: 35%;
    float: right;
    margin-top: 12vh;
  }

  .featured__hero .name {
    text-align: left;
    margin-left: 5rem;
  }

  .featured__hero .intro {
    text-align: left;
    margin-left: 5rem;
  }

  .featured__hero .hero-img {
    margin-left: 0;
    transform: translate(-15%, 5%);
  }

  .featured .layout-l {
    margin-left: 10%;
    display: flex;
    flex-flow: column;
    width: 55%;
  }
}

/* ------ section about ------ */

.about_me__wrapper {
  position: relative;
  background-color: rgba(41,30,65,1);
}

.about_me .profile {
  width: 100%;
}

.about_me__title {
  width: 40vw;
  position: absolute;
  left: 10%;
  bottom: -3vw;
}

.about_me__container {
  width: 100%;
  background-color: rgba(41,30,65,1);
}

.content_box {
  padding-top: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
}

article {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 200;
  color: #fff;
  padding: 6vw 8vw;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(252,153,158,1);;
}

.content_box .more {
  text-align: center;
}

.content_box .more img {
  height: 3vh;
}

@media all and (min-width: 780px) and (max-width: 1024px) {
  .about_me__wrapper {
    margin-top: 2rem;
  }

  .about_me .profile {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .about_me__title {
    width: 30vw;
    position: absolute;
    left: 20%;
    bottom: -3vw;
  }

  article {
    width: 85%;
  }
}

@media all and (min-width: 1025px) {
  .about_me__wrapper {
    margin-top: 8rem;
  }

  .about_me .profile {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .about_me__title {
    width: 20vw;
    position: absolute;
    left: 25%;
    bottom: -1.6vw;
  }

  article {
    width: 64%;
  }
}

/* ------ section connect ------ */
.connect {
  background-color: rgba(252,238,237,1);
}

.connect__lets, .connect__thanks, .connect p, .connect__social_media, .connect__catch {
  width: 70%;
  margin: 0 auto;
}

.connect__lets {
  padding-top: 8rem;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 5rem;
  color: rgba(252,153,158,1);
}

.connect__thanks {
  padding-top: 5vh;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: rgba(85,135,135,1);
}

.connect p {
  padding-top: 5vh;
  line-height: 3.2rem;
}

.resume {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  position: relative;
}

.resume::before {
  content: ' ';
  width: 20px;
  height: 5px;
  background-color: rgba(252,153,158,1);
  position: absolute;
  bottom: -6px;
  left: 30%;
}

.resume:hover::before {
 background-color: rgba(85,135,135,1);
}

.connect__social_media {
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-row-gap: 3rem;
  justify-content: center;
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  .connect__social_media {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1025px){
  .connect__social_media {
    grid-template-columns: repeat(4, 1fr);
  }
}

.connect__social_media .icon {
  height: 4rem;
}

.connect__social_media .name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
  padding-left: 1rem;
  bottom: 1.5vh;
}

.connect__social_media .name::before {
  content: ' ';
  width: 20px;
  height: 5px;
  background-color: rgba(252,153,158,1);
  position: absolute;
  bottom: -6px;
  left: 40%;
}

.connect__social_media li:hover .name::before {
  background-color: rgba(85,135,135,1);
}

.connect__catch {
  color: rgba(85,135,135,1);
  padding-bottom: 12rem;
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .connect__lets {
    width: 60%;
    padding-top: 10rem;
  }

  .connect__thanks, .connect p, .connect__social_media {
    width: 60%;
    padding-top: 5rem;
  }

  .connect__catch{
    width: 60%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .connect__lets {
    width: 60%;
    padding-top: 15rem;
  }

  .connect__thanks, .connect p, .connect__social_media {
    width: 60%;
    padding-top: 5rem;
  }

  .connect__catch{
    width: 60%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

@media all and (min-width: 1281px) {
  .connect__lets {
    width: 50%;
    padding-top: 15rem;
  }

  .connect__thanks, .connect p, .connect__social_media {
    width: 50%;
    padding-top: 5rem;
  }

  .connect__catch{
    width: 50%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

/* ------ section footer ------ */
footer {
  position: relative;
  width: 100%;
  background-color: rgba(41,30,65,1);
}

footer .quote {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /* font-style: italic; */
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: right;
  color: rgba(190,226,226,1);
}

footer .copyright {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-bottom: 3rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: left;
  color: rgba(252,238,237,1);
}

@media all and (min-width: 781px) and (max-width: 1280px) {
  footer .quote, footer .copyright {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  footer .quote, footer .copyright {
    width: 50%;
    margin: 0 auto;
  }
}
