*, *::before, *::after {
  box-sizing: border-box;
}

/* Import fonts*/
/* @import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display:700,900');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu'); */

:root {
  --yellow: rgba(255,224,109,1);
  --blue: rgba(177,203,231,1);
  --orange: rgba(230,118,79,1);
}

html {
  font-family: 'exo', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgba(41,30,65,1);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  color: var(--orange);
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.heading2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

h2{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #333;
  padding-left: 1rem;
  display: inline-block;
  transform: translateY(-4px);
}

ol {
  width: 80%;
  margin: 0 auto;
  list-style: decimal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  width: 80%;
  margin: 0 auto;
  list-style: circle;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  padding-bottom: 1rem;
}

b {
  font-size: 1.8rem;
  font-weight: 600;
}

i {
  font-style: italic;
}

.bullet_hex {
  width: 2.4rem;
  display: inline-block;
  margin-left: 1.6rem;
}

.btn {
  display: block;
  width: 25rem;
  border-radius: 3rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 1rem;
  margin: 2rem auto 4rem auto;
  background-color: var(--yellow);
}

.btn:hover {
  background-color: var(--orange);
  color: rgba(252,238,237,1);
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .mob-hide {
    display: none;
  }
}

@media all and (min-width: 1025px) {
  .mob-hide {
    display: block;
  }
}

/* ------ header ------ */
header {
  max-width: 100vw;
  background-image: linear-gradient(#57467C 0%, #917FB6 50%, #F9BDDD 75%, #FFE9D9 85%, #FFF 95%);
}

header .burger {
  /* width: 4rem; */
  font-size: 2.5rem;
  color: #fff;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
}

header .burger:hover {
  color: rgba(252,153,158,1);
}

@media all and (min-width: 1025px) {
  header .burger {
    font-size: 2.5rem;
    color: #fff;
    padding-top: 10vh;
    padding-left: 5vw;
  }
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 15rem;
  margin: 0 auto;
  transform: translateY(-1rem);
}

.header__intro {
  font-family: 'Montserrat', serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: rgba(243,221,152,1);
  text-align: center;
  padding: 1.6rem;
}

.header__mock {
  width: 90%;
  display: block;
  margin: 2rem auto;
}

.featured__details {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 2.5rem auto;
  grid-row-gap: 1rem;
  justify-items: center;
}

.featured__details ul {
  list-style: none;
}

.detail__col {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .featured__details {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    justify-items: center;
  }
}

.featured__details img {
  width: 8rem;
}

.featured__details .title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  color: rgba(85,135,135,1);
}

.featured__details ul {
  font-family: 'exo', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
  padding-top: 1rem;
}

header .btn {
  margin-top: 2.5rem;
}



/* ------ nav ------- */
@media all and (max-width: 1024px) {
  nav {
    height: 6rem;
    overflow:hidden;
    background-color: rgba(248,248,248,1);
    z-index: 999;
    margin-bottom: 1rem;
    position: relative;
    visibility: hidden;
  }

  nav div {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  nav .burger {
    /* width: 24px; */
    transform: rotate(90deg);
    font-size: 2.4rem;
    color: #838383;
    margin-left: 1.6rem;
  }

  .dot_line::after {
    content: ' ';
    background: url("../images/project1/nav_line.svg") repeat-x;
    width: 69vw;
    height: 1px;
    position: absolute;
    right: 1.6rem;
    z-index: -1;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: visible;
  }

  .move_down {
    margin-top: 8rem;
  }
}

nav .burger:hover {
  color: var(--orange);
}

.nav__dot {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: var(--blue);
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  color: #FFF;
  padding-top: 0.4rem;
  text-align: center;
}

.nav__dot:hover, .nav__dot:focus {
  background-color: var(--orange);
}

.nav__dot--small {
  font-size: 1.2rem;
  padding-top: 0.6rem;
}

.nav__dot--last {
  margin-right: 1.6rem;
}

.curr-sele {
  background-color: var(--orange);
}

@media all and (min-width: 1025px) {
  nav {
    width: 3rem;
    height: 70vh;
    margin-left: 5vw;
    z-index: 999;
    display: none;
  }

  .nav_show {
    display: block;
    visibility: visible;
  }

  nav div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .fade-in-left {
	   -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  nav .burger {
    transform: rotate(90deg);
    font-size: 2.4rem;
    color: #838383;
  }

  .nav__dot--last {
    margin-right: 0;
  }

  .dot_line::after {
    content: ' ';
    background: url("../images/project1/nav_line_v.svg") repeat-y;
    height: 50vh;
    width: 1px;
    position: absolute;
    left: 1.5rem;
    bottom: 0;
    z-index: -1;
  }

  .sticky {
    position: fixed;
    top: 10vh;
  }
}

/* ------ section summary ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .summary {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .summary {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .summary {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px){
  .summary {
    width: 50%;
    margin: 0 auto;
  }
}

/* ------ section exploration ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .ur--wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .ur--wrapper {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .ur--wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px){
  .ur--wrapper {
    width: 50%;
    margin: 0 auto;
  }
}

.competitor_wrap {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competitor_wrap img {
  height: 6rem;
}

@media all and (min-width: 781px) {
  .competitor_wrap {
    width: 80%;
  }

  .competitor_wrap img {
    height: 8rem;
  }
}

.ur__title, .ur__note {
  font-size: 1.4rem;
  text-align: center;
}

.ur__title {
  font-weight: 600;
  margin-top: 1rem;
}

.ur__result1 img {
  padding-top: 1rem;
  display: block;
  margin: 0 auto;
}

.ur__result2 {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.ur__result2 img {
  margin: 0 auto;
}

/* --- result 3 ---- */
.ur__note {
  line-height: 1.6rem;
}
.ur__result3__graph {
  /* width: 60%;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 0.2rem 1fr;
  grid-row-gap: 0rem;
}

.ur__result3__graph .ur__note {
  text-align: right;
}

.ur__result3__graph .line {
  width: 2px;
  height: 100%;
  background-color: #D8D8D8;
  grid-column: 2;
  grid-row: 1/4;
}

.ur__result3__graph .bar {
  width: 10rem;
  height: 8px;
  background-color: var(--yellow);
  justify-self: start;
  align-self: center;
}

.ur__result3__graph .bar-1 {
  width: calc(50%/100*90);
}

.ur__result3__graph .bar-2 {
  width: calc(60%/100*90);
}

.ur__result3__graph .bar-3 {
  width: calc(59%/100*90);
}

/* --- result 4 ---- */
.ur__result4__graph {
  /* width: 60%;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 0.2rem 1fr;
  grid-row-gap: 1.5rem;
}

.ur__result4__graph .ur__note {
  text-align: right;
}

.ur__result4__graph .line {
  width: 2px;
  height: 100%;
  background-color: #D8D8D8;
  grid-column: 2;
  grid-row: 1/6;
}

.ur__result4__graph .bar {
  width: 10rem;
  height: 0.8rem;
  background-color: var(--orange);
  justify-self: start;
  align-self: center;
}

.ur__result4__graph .bar-1 {
  width: calc(61%/100*90);
}

.ur__result4__graph .bar-2 {
  width: calc(32%/100*90);
}

.ur__result4__graph .bar-3 {
  width: calc(21%/100*90);
}

/* --- result 5 ---- */
.ur__result5__graph {
  /* width: 60%;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 0.2rem 1fr;
  grid-row-gap: 1.5rem;
}

.ur__result5__graph .ur__note {
  text-align: right;
}

.ur__result5__graph .line {
  width: 2px;
  height: 100%;
  background-color: #D8D8D8;
  grid-column: 2;
  grid-row: 1/6;
}

.ur__result5__graph .bar {
  width: 10rem;
  height: 0.8rem;
  background-color: var(--blue);
  justify-self: start;
  align-self: center;
}

.ur__result5__graph .bar-1 {
  width: calc(87%/100*70);
}

.ur__result5__graph .bar-2 {
  width: calc(74%/100*70);
}

.ur__result5__graph .bar-3 {
  width: calc(71%/100*70);
}

.ur__result5__graph .bar-4 {
  width: calc(67%/100*70);
}

.ur__result5__graph .bar-5 {
  width: calc(67%/100*70);
}

/* --- persona --- */
@media all and (min-width: 481px) and (max-width: 780px) {
  .h2-persona {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .h2-persona {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .h2-persona {
    width: 86%;
    margin: 0 auto;
    padding-left: 5rem;
  }
}

@media all and (min-width: 1281px){
  .h2-persona {
    width: 72%;
    margin: 0 auto;
  }
}

.persona__header {
  width: 60%;
  padding-bottom: 2rem;
  margin: 1.5rem auto;
  display: grid;
  grid-template-rows: auto;
  text-align: center;
}

.persona__header img {
  grid-column: 1;
  grid-row: 1/5;
  width: 20rem;
  padding-left: 1.6rem;
  justify-self: center;
  align-self: center;
}

.persona__header span {
  font-size: 1.6rem;
  line-height: 3rem;
  padding-right: 1.6rem;
  align-self: center;
}

.persona-1 p, .persona-2 p {
  padding-top: 0;
  padding-bottom: 0;
}

@media all and (max-width: 480px) {
  .persona__header {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }

  .persona__header span {
    padding: 0 5% 0 5%;
  }

  .persona__header .basic {
    text-align: center;
  }
}

@media all and (min-width: 481px) and (max-width: 780px) {
  .persona--wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .persona--wrapper {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .persona--wrapper {
    width: 86%;
    padding-left: 5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    justify-content: space-between;
  }

  .persona__content {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .persona--wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    justify-content: space-between;
  }

  .persona__content {
    width: 80%;
    margin: 0 auto;
  }
}

/* ------ section ideation ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .ideation {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .ideation {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .ideation {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .ideation {
    width: 50%;
    margin: 0 auto;
  }
}

.value_prop {
  width: 84vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.ideation .btn--big {
  width: 30rem;
}

.ideation .btn {
  margin-bottom: 2rem;
}

.user_flow {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0 2rem 0;
}

.uf_o {
  width: 50%;
}

.uf_s {
  width: 100%;
}

.wf__draft img {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.wf__question {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(255,224,109,0.1);
}

.wf__question p {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  color: #828282;
}

.wf__eg img {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.eg--arrow{
  position: relative;
}

.eg--arrow::before {
  content: ' ';
  background: url(../images/project1/arrow_down.svg) no-repeat center center;
  display: block;
  width: 50%;
  height: 6rem;
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateY(2.5rem);
  z-index: 998;
}

.wf__eg p {
  text-align: center;
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  .wf__eg {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  .wf__eg {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .wf__eg img {
    width: 100%;
  }

  .wf__eg p {
    grid-column: 1/3;
  }

  .eg--arrow::before {
    content: ' ';
    background: url(../images/project1/arrow_right.svg) no-repeat center center;
    display: block;
    width: 50%;
    height: 6rem;
    position: absolute;
    top: 30%;
    transform: translateX(100%);
    z-index: 998;
  }
}

.wf_final img {
  width: 80vw;
  margin: 0 auto;
  padding: 5rem 0 2rem 0;
}

/* ------ section branding ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .branding {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .branding {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .branding {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .branding {
    width: 50%;
    margin: 0 auto;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  text-align: right;
  padding-right: 1.6rem;
  padding-bottom: 1rem;
}

.branding .samples {
  width: 96%;
  display: block;
  margin: 0 auto;
}

.hive_loge--b {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.hive_loge--b img {
  width: 80%;
  margin: 0 auto;
}

.hive_logo--icon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.hive_logo--icon img {
  width: 20%;
  height: 8rem;
}

.color_palette {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.color_palette span {
  width: 6rem;
  height: 6rem;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2.5rem;
  border-radius: 5rem;
}

.color_palette .color1 {
  background-color: #FFE06D;
}

.color_palette .color2 {
  background-color: #504840;
  color: #fff;
}

.color_palette .color3 {
  background-color: #B1CBE7;
}

.color_palette .color4 {
  background-color: #E6764F;
}

.color_palette .color5 {
  background-color: #4A4A4A;
  color: #fff;
}

.color_palette .color6 {
  background-color: #9B9B9B;
  color: #fff;
}

.color_palette .color7 {
  background-color: #BBBBBB;
}

.color_palette .color8 {
  background-color: #F8F8F8;
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .hive_loge--b, .hive_logo--icon, .color_palette {
    width: 70%;
    margin: 0 auto;
  }

  .branding .samples {
    width: 80%;
  }

  .branding .sketch {
    width: 100%;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .hive_loge--b, .hive_logo--icon, .color_palette {
    width: 60%;
    margin: 0 auto;
  }

  .branding .samples {
    width: 70%;
  }

  .branding .sketch {
    width: 100%;
  }
}

@media all and (min-width: 1281px) {
  .hive_loge--b, .hive_logo--icon, .color_palette {
    width: 50%;
    margin: 0 auto;
  }

  .branding .samples {
    width: 60%;
  }

  .branding .sketch {
    width: 100%;
  }
}

.typ {
  padding: 2rem 2rem 2rem 0.5rem;
  margin-bottom: 2rem;
  background-color: rgba(177,203,231,0.5);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.typ span {
  line-height: 3.2rem;
}

.typ__mon {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: right;
  grid-row: 1/3;
}

.typ__ub {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: right;
}

.typ__mon--1, .typ__mon--2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.typ__mon--2 {
  font-size: 1.6rem;
}

.typ__ub--1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
}

/* ------ section prot_test ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .prot_test {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .prot_test {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .prot_test {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .prot_test {
    width: 50%;
    margin: 0 auto;
  }
}

.prot_test h1 {
  margin-top: 2rem;
  line-height: 2.8rem;
}

.prot_test .tasks {
  font-style: italic;
  padding-left: 10%;
}

.prot_test .feedback img {
  width: 100%;
  margin: 0.5rem 0 2rem 0;
}

/* ------ section hifi mocks ------ */

.hifi_mocks {
  width: 100%;
}

.hifi_web {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
  background-image: linear-gradient(#57467C 0%, #917FB6 25%, #F9BDDD 50%, #FFE9D9 75%, #FFF 95%);
}

.hifi_web img {
  width: 95%;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hifi_mobile {
  margin: 6rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
  background-image: linear-gradient(#57467C 0%, #917FB6 25%, #F9BDDD 50%, #FFE9D9 75%, #FFF 95%);
}

.hifi_mobile img {
  width: 95%;
  max-width: 375px;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* -o-box-shadow:      0px 5px 10px #555;
  -icab-box-shadow:   0px 5px 10px #555;
  -khtml-box-shadow:  0px 5px 10px #555;
  -moz-box-shadow:    0px 5px 10px #555;
  -webkit-box-shadow: 0px 5px 10px #555;
  box-shadow:         0px 5px 10px #555; */
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .hifi_web {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hifi_mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 1025px) {
  .hifi_web {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 0 3rem 8%;
  }

  .hifi_mobile {
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0 3rem 8%;
  }

}

/* ------ section conclusion ------ */
@media all and (min-width: 481px) and (max-width: 780px) {
  .conclusion {
    width: 80%;
    margin: 0 auto;
  }

  .hifi_web {
    margin: 3rem 0 3rem 5vw;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .conclusion {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .conclusion {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .conclusion {
    width: 50%;
    margin: 0 auto;
  }
}

.conclusion h1 {
  margin-top: 2rem;
}

.conclusion li {
  padding-top: 2rem;
}

.btm_links {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 580px){
  .btm_links {
    font-size: 1.8rem;
  }
}

/* ------ footer ------ */
footer {
  margin-top: 3rem;
  background-color: rgba(41,30,65,1);
  padding-bottom: 2rem;
}

.footer--wrapper {
  width: 90%;
  margin: 0 auto;
}

@media all and (min-width: 481px) and (max-width: 780px) {
  .footer--wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (min-width: 781px) and (max-width: 1024px) {
  .footer--wrapper {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px){
  .footer--wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1281px) {
  .footer--wrapper {
    width: 50%;
    margin: 0 auto;
  }
}

footer .quote {
  display: block;
  width: 80%;
  margin-left: 20%;
  padding-top: 2rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  line-height: 3rem;
  color: rgba(190,226,226,1);
}

footer .icon--layout {
  width: 40%;
  max-width: 16rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

footer .icon--layout img {
  height: 2rem;
}

footer .copyright {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  color: rgba(252,238,237,1);
  padding-top: 2rem;
}
